    <!doctype html>
    <html>
    <head>
        
        <meta charset="utf-8">
        <title>{{title}}</title>

        <!-- css rendered with less -->
        <link href="static/css/_main.css" rel="stylesheet" type="text/css" />

        <!-- external jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- js -->
        <script src="static/js/d3.js"></script>
        <style>

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        </style>
        
    </head>
    <body>  

        <div id="container">
            <div id="search">
                <input type='text' placeholder="enter your query"/>
            </div>

            <div id="results">
            </div>

            <script>
            var margin = {top: 20, right: 20, bottom: 30, left: 40},
                width = 550 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var parseDate = d3.time.format("%d-%b-%Y").parse;

            var div = d3.select("body").append("div")   
               .attr("class", "tooltip")               
               .style("opacity", 0);

            var x = d3.time.scale()
                .range([0, width]);

            var y = d3.scale.linear()
                .range([height, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            var line = d3.svg.line()
                  .interpolate('basis')
                  .x(function(d) { return x(parseDate(d.date)); })
                  .y(function(d) { return y(+d.y); });

            var svg = d3.select("#results").append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .attr("id", "graph")
                  .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var dates = ["1-Jan-1920", "1-Jan-1930", "1-Jan-1940", "1-Jan-1950", "1-Jan-1960", 
                         "1-Jan-1970", "1-Jan-1980", "1-Jan-1990", "1-Jan-2000"]

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")

            svg.append("g")
                .attr("class", "y axis")
                .attr("y", 6)
                .attr("id", "visualization")
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .append("text");

            dataset = []

            function drawGraph(data, query) {
                dataset.push(data)

                var dataarray = []
                dataarray = dataarray.concat.apply(dataarray, dataset)

                x.domain(d3.extent(dataarray, function(d) { return parseDate(d.date); }));
                y.domain(d3.extent(dataarray, function(d) { return +d.y; }));

                svg.select(".x.axis")
                  .transition()
                  .duration(750)
                  .call(xAxis);

                svg.select(".y.axis")
                  .transition()
                  .duration(750)
                  .call(yAxis)

                svg.selectAll("path").data(dataset, function(d) { return line(d); })
                   .enter()
                   .append("path")
                   .attr("stroke", "hsl(" + Math.random() * 360 + ",100%,50%)")
                   .attr("stroke-width", "2")
                   .attr("fill", "none")
                   .attr("d", function(d) { return line(d); });

                svg.selectAll("path")
                   .transition()
                   .duration(750)
                   .ease("linear")
                   .attr("d", function(d) { return line(d); })
            }  

            $(document).ready(function(){

                $("#search input").on("keydown",function(event){
                    if(event.keyCode == "13"){
                        $("#results").addClass("loading");
                        //$("#results").html("");
                        query = $(this).val();
                        $.ajax({
                            url:"/data",
                            data:{"q":query},
                            method:"POST",
                            dataType: "json",
                            success:function(data) {
                                //redraw(data)
                                drawGraph(data, query);
                                $("#results").removeClass("loading");
                            },
                            error:function(){
                                $("#results").removeClass("loading");
                                $("#results").html("oops, something went wrong...");
                            }
                        })
                    }
                })
            })

            </script>

        </div>
    </body>
    </html>